<ul class="videojuegos">
    <li *ngFor="let videojuego of videojuegos"
      [class.selected]="videojuego === videojuegosRecibidos"
      (click)="onSelect(videojuego)">
      <span class="badge">{{videojuego.id}}</span> {{videojuego.videojuegos}} | {{videojuego.plataforma}}|
      {{videojuego.genero}}|{{videojuego.fecha_lazamiento}}
    </li>
  </ul>
  
  <div *ngIf="videojuegosRecibidos">
  
    <h2>{{selectedVideojuego.videojuegos | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedVideojuego.id}}</div>
    <div>
      <label>videojuegos:
        <input [(ngModel)]="videojuegosRecibidos.videojuegos" placeholder="videojuego"/>
      </label>
    </div>
  

      <div>
        <label>plataforma:
            <input [(ngModel)]="videojuegosRecibidos.plataforma" placeholder="plataforma"/>
          </label>
      </div>
      <div>
        <label>genero:
            <input [(ngModel)]="videojuegosRecibidos.genero" placeholder="genero"/>
          </label>
      </div>
      <DIV>
        <label>Fecha de Lanzamiento:
            <input [(ngModel)]="videojuegosRecibidos.fecha_lazamiento" placeholder="fecha_lazamiento"/>
          </label>
      </DIV>
      
    
  </div>
